<html ng-app = "netflixapp">
	<header>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<style src="style.css"></style>
	</header>
	<body style="background: rgba(26, 27, 28, 0.9);" id = "mainBody" ng-controller = "bodycontroller">
		<div style = "display: block; margin: 50px;">
			<select ng-model="selectedGrouping" ng-change="groupBy()" style = "width: 200px;  font-size: larger;">
				<option>Movie Id</option>
				<option>Language code</option>
			</select>

			<div style="font-size: 1.6em;margin: 10px;color: rgba(255, 254, 254, 0.9)">Search</div>
			<select ng-model="selectedInSearch" style = "width: 200px;  font-size: larger;">
				<option>Movie Name</option>
				<option>Language code</option>
				<option>Image Type</option>
			</select>
			<input ng-model="searchText" style="font-size: large;width: 500px;"></input>
		</div>

		<tr ng-repeat="friend in friends | filter:searchText">
		    <td>{{friend.movieName}}</td>
		    <td>{{friend.movieName}}</td>
		</tr>

		<div ng-if = "movieId" >
			<div style = "display: block; margin: 50px;" ng-repeat="(data, entries) in response | groupBy: 'movieId'">
				<h4 style = "display: block; margin: 50px;font-family: sans-serif; font-size: 2.0em;color: rgba(255, 254, 254, 0.9);   font-weight: bold;   "> Movie ID : {{data}}</h4>
				<div style = "display: inline;" ng-click="imgDetails(movie)" ng-repeat="movie in entries">
					<img ng-src="{{movie.thumbnailUrl}}"></img>
				</div>
			</div>
		</div>

		<div ng-if = "langu" >
			<div style = "display: block; margin: 50px;" ng-repeat="(data, entries) in response | groupBy: 'languageCode'">
				<h4 style = "display: block; margin: 50px;font-family: sans-serif; font-size: 2.0em;color: rgba(255, 254, 254, 0.9);   font-weight: bold;   ">Language code : {{data}}</h4>
				<div style = "display: inline;" ng-click="imgDetails(movie)" ng-repeat="movie in entries">
					<img ng-src="{{movie.thumbnailUrl}}"></img>
				</div>
			</div>
		</div>

		<tr ng-repeat="friend in friends | filter:searchText">
		    <td>{{friend.name}}</td>
		    <td>{{friend.phone}}</td>
		</tr>

		<div ng-if="showdetails">
			<div style="position: fixed;    right: 0;    padding: 20px;    top: 0;    background-color: rgba(10, 10, 10, 0.56);    left: 0;    bottom: 0;">
				<button ng-click = "close()" style="font-size: larger;z-index: 9999;    float: right;">close</button>
				<div>
					<div <div style="    text-align: right;padding: 110px;">
						<img ng-src="{{movieDetails.fullSizeImageUrl}}"></img>
					</div>
					<div style="background: rgba(16, 16, 16, 0);    font-size: 1.2em;    font-family: sans-serif;    font-weight: bold;    color: rgb(242, 109, 4);    width: max-content;
    position: absolute;    top: 200px;    margin-left: 50px;    text-align: left; "> 
						<h3>Movie Details<h3>
						<div>Movie Name : {{movieDetails.movieName}}</div>
						<div>Image Type : {{movieDetails.imageType}}</div>
						<div>Language Code : {{movieDetails.languageCode}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	</body>

	<script type="text/javascript" src = "bodyctrl.js"></script>
</html>