<html ng-app = "netflixapp">
	<header>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	</header>
	<body style = "background-color: grey;" ng-controller = "bodycontroller">
		<div style = "display: block; margin: 50px;">
			<select ng-model="selectedGroup" ng-change="groupBy()" style = "width: 200px;  font-size: larger;">
				<option>Movie Id</option>
				<option>Language code</option>
			</select>

			<div style="font-size: 1.6em;margin: 10px;">Search</div>
			<select ng-model="searchCato" style = "width: 200px;  font-size: larger;">
				<option>Movie Name</option>
				<option>Language code</option>
				<option>Image Type</option>
			</select>
			<input type="text" style="font-size: large;width: 500px;"></input>
		</div>

		<div ng-if = "movieId" >
			<div style = "display: block; margin: 50px;" ng-repeat="(data, entries) in response | groupBy: 'movieId'">
				<div style = "display: block; margin: 50px;"> Movie ID : {{data}}</div>
				<div style = "display: inline;" ng-repeat="movie in entries">
					<img ng-src="{{movie.thumbnailUrl}}"></img>
				</div>
			</div>
		</div>

		<div ng-if = "langu" >
			<div style = "display: block; margin: 50px;" ng-repeat="(data, entries) in response | groupBy: 'languageCode'">
				<div style = "display: block; margin: 50px;">Language code : {{data}}</div>
				<div style = "display: inline;" ng-repeat="movie in entries">
					<img ng-src="{{movie.thumbnailUrl}}" ng-mouseover="{{movie.fullSizeImageUrl}}"></img>
				</div>
			</div>
		</div>

	</body>

	<script type="text/javascript" src = "bodyctrl.js"></script>
</html>