<html ng-app = "netflixapp">
	<header>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	</header>
	<body style = "background-color: grey;" ng-controller = "bodycontroller">
		<div style = "display: block; margin: 50px;">
			<select ng-model="selectedGroup" ng-change="groupBy()" style = "width: 200px;  font-size: larger;">
				<option>Movie Id</option>
				<option>Language code</option>
			</select>
		</div>

		<div ng-if = "movieId" >
			<div style = "display: block; margin: 50px;">
				<div style = "display: inline;" ng-repeat="(date, entries) in response | groupBy: 'movieId'">
					Movie id: {{ date }}
					<div ng-repeat="movie in entries">
						<img ng-src="{{movie.thumbnailUrl}}"></img>
					</div>
				</div>
			</div>
		</div>

		<div ng-if = "language" >
			<div style = "display: block; margin: 50px;">
				<div style = "display: inline;" ng-repeat="(date, entries) in response | groupBy: 'languageCode'">
					Movie id: {{ date }}
					<div ng-repeat="movie in entries">
						<img ng-src="{{movie.thumbnailUrl}}"></img>
					</div>
				</div>
			</div>
		</div>

	</body>

	<script type="text/javascript" src = "bodyctrl.js"></script>
</html>